button.filter-btn, button.filter-btn.show{
    /* background-color: transparent; */
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    /* color: var(--md-sys-color-on-secondary-container); */
    border-radius: var(--button-border-radius);
    border: none;
    height: 100%;
}

button.filter-btn::after{
    display: none;
}

/* button.filter-btn:hover, button.filter-btn:first-child:active, button.filter-btn:focus, button.filter-btn:focus-visible{
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
} */

div.inventory-menu-filter div.dropdown-menu.show{
    background-color: var(--md-sys-color-surface-container);
    box-shadow: var(--md-sys-elevation-level2);
}

a.dropdown-item{
    color: var(--md-sys-color-on-surface);
}

a.dropdown-item:hover{
    background-color: rgba(var(--md-sys-color-on-surface-rgb), var(--md-sys-state-hover-state-layer-opacity));

}
a.dropdown-item:active{
    background-color: var(--primary-color);
}