div.card.checkout-item-container{
    margin-bottom: 1.5rem;
    border: none;
    background-color: var(--md-sys-color-secondary-container);
    border-radius: var(--bs-border-radius);
}

span.item-name{
    text-align: left;
    font-weight:600 ;
}
span.item-qty{
    text-align: left;
    font-size:smaller ;
}

span.item-price{
    text-align: right;
}

div.col.checkout-item-left{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: left;

}

div.col.checkout-item-right{
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    justify-content: right;
}