div.styled-card.card div.card-body.trans-summ {
	height: 100%;
	border: none;
	box-shadow: var(--md-sys-elevation-level1);
	-webkit-box-shadow: var(--md-sys-elevation-level1);
	-moz-box-shadow: var(--md-sys-elevation-level1);
	border-radius: 0;
	border-top-left-radius: var(--bs-card-border-radius);
	border-top-right-radius: var(--bs-card-border-radius);
}

div.summary.card-header {
	color: var(--secondary-color);
	background-color: var(--primary-color);
}

div.receipt-btns.row button.cancel-btn {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: var(--button-border-radius);
	/* margin-left: 1.5rem;
	margin-right: 1.5rem; */
	/* border: none; */
}

div.receipt-btns.row button.submit-btn {
	border-radius: var(--button-border-radius);
	width: 100%;
	height: 3.5rem;
	margin-right: auto;
	border: none;
}

/* div.receipt-btns.row button.submit-btn:hover,
div.receipt-btns.row button.cancel-btn:hover {
	color: var(--primary-color);
	box-shadow: var(--md-sys-elevation-level1);
}

div.receipt-btns.row button.submit-btn:active,
div.receipt-btns.row button.cancel-btn:active {
	background-color: rgba(var(--md-sys-color-primary-rgb), calc(1 - var(--md-sys-state-hover-state-layer-opacity)));

} */
/*Card Footer*/
div.summary.card-footer {
	border-top: 0;
	color: var(--primary-color);
	background-color: var(--backplate-component-background-color);
	box-shadow: var(--md-sys-elevation-level1);
	-webkit-box-shadow: var(--md-sys-elevation-level1);
	-moz-box-shadow: var(--md-sys-elevation-level1);
	padding-bottom: 1rem;
	/* border-top-left-radius: var(--bs-card-border-radius);
    border-top-right-radius: var(--bs-card-border-radius); */
}

div.col.checkout-summ-left {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: flex-start;
}

div.col.checkout-summ-right {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-end;
	text-align: right;
}

div.amt-summ {
	flex-grow: 1;
	color: var(--secondary-color);
	border: none;
	font-weight: 500;
	background-color: transparent;
	word-wrap: break-word;
	overflow: hidden;
}

div.amt-summ-label {
	text-align: end;
}

div.amt-summ-val {
	/* text-align: start; */
}
